[submodule "code/Symfony/Component/EventDispatcher"]
	path = code/Symfony/Component/EventDispatcher
	url = git://github.com/symfony/EventDispatcher.git
[submodule "code/Symfony/Component/ClassLoader"]
	path = code/Symfony/Component/ClassLoader
	url = git://github.com/symfony/ClassLoader.git
[submodule "code/Symfony/Component/DependencyInjection"]
	path = code/Symfony/Component/DependencyInjection
	url = git://github.com/symfony/DependencyInjection.git
[submodule "code/Symfony/Component/Yaml"]
	path = code/Symfony/Component/Yaml
	url = git://github.com/symfony/Yaml.git
[submodule "code/Symfony/Component/Config"]
	path = code/Symfony/Component/Config
	url = git://github.com/symfony/Config.git
