parameters:

    config.class: Heystack\Subsystem\Core\Config
    state.class: Heystack\Subsystem\Core\State\State
    backend_session.class: Heystack\Subsystem\Core\State\Backends\Session
    backend_memcache.class: Heystack\Subsystem\Core\State\Backends\Memcache
    event_dispatcher.class: Heystack\Subsystem\Core\EventDispatcher
    input_processor_handler.class: Heystack\Subsystem\Core\Input\Handler
    output_processor_handler.class: Heystack\Subsystem\Core\Output\Handler
    console.application.class: Heystack\Subsystem\Core\Console\Application
    console.command.generate_container.class: Heystack\Subsystem\Core\Console\Command\GenerateContainer
    console.command.generate_dataobjects.class: Heystack\Subsystem\Core\Console\Command\GenerateDataObjects

    session.class: Session
    dataobject_generator.class: Heystack\Subsystem\Core\Generate\DataObjectGenerator
    dataobject_handler.class: Heystack\Subsystem\Core\DataObjectHandler\SS2DataObjectHandler

    storage.class: Heystack\Subsystem\Core\Storage\Storage
    ss_orm_backend.class: Heystack\Subsystem\Core\Storage\Backends\SilverStripeOrm\Backend
    yaml_data_object_schema.class: Heystack\Subsystem\Core\Generate\YamlDataObjectSchema

    monolog.name: global

    monolog.mail_handler.to: [glenn@heyday.co.nz, cameron@heyday.co.nz]
    monolog.mail_handler.from: noreply@heyday.net.nz
    monolog.mail_handler.subject: Heystack Error
    monolog.stream_handler.file_location: ../heystack/monolog.log
    monolog.stream_handler.dev_file_location: ../heystack/monolog_dev.log

    monolog.level.debug: 100
    monolog.level.info: 200
    monolog.level.warning: 300
    monolog.level.error: 400
    monolog.level.critical: 500
    monolog.level.alert: 550

    memcache.class: Memcache
    memcache.host: localhost
    memcache.port: 11211

    memcache.prefix: heystack_

services:
    # Console
    console.application:
        class: %console.application.class%
        calls:
          - [ setLogger, [ @monolog ] ]

    console.command.generate_container:
        class: %console.command.generate_container.class%
        tags:
          - { name: console.application.command }

    console.command.generate_dataobjects:
      class: %console.command.generate_dataobjects.class%
      arguments: [ @dataobject_generator ]
      tags:
        - { name: console.application.command }

    memcache:
        class: %memcache.class%
        calls:
            - [ connect, [ %memcache.host%, %memcache.port% ] ]

    session:
        class: %session.class%
        arguments: [[]]

    backend_memcache:
        class: %backend_memcache.class%
        arguments: [@memcache, @session]

    backend_global_memcache:
        class: %backend_memcache.class%
        arguments: [@memcache, null, %memcache.prefix%]

    backend_session:
        class: %backend_session.class%
        arguments: [@session]

    state:
        class: %state.class%
        arguments: [@backend_session]

    state_global:
        class: %state.class%
        arguments: [@backend_session]

    config:
        class: %config.class%
        arguments: []

    event_dispatcher:
        class: %event_dispatcher.class%

    input_processor_handler:
      class: %input_processor_handler.class%

    output_processor_handler:
      class: %output_processor_handler.class%

    monolog_multiline_formatter:
      class: Monolog\Formatter\MultiLineFormatter

    monolog_web_processor:
      class: Monolog\Processor\WebProcessor

    monolog_peak_memory_processor:
      class: Monolog\Processor\MemoryPeakUsageProcessor

    monolog_introspection_processor:
      class: Monolog\Processor\IntrospectionProcessor

    monolog_stream_handler:
      class: Monolog\Handler\StreamHandler
      arguments: [ %monolog.stream_handler.file_location%,  %monolog.level.debug%]
      calls:
        - [ setFormatter, [ @monolog_multiline_formatter ] ]

    monolog_dev_stream_handler:
      class: Monolog\Handler\StreamHandler
      arguments: [ %monolog.stream_handler.dev_file_location%, %monolog.level.debug%]
      calls:
        - [ setFormatter, [ @monolog_multiline_formatter ] ]

    monolog_mail_handler:
      class: Monolog\Handler\NativeMailerHandler
      arguments: [ %monolog.mail_handler.to%, %monolog.mail_handler.subject%, %monolog.mail_handler.from%, %monolog.level.error% ]
      calls:
        - [ setFormatter, [ @monolog_multiline_formatter ] ]

    monolog_chrome_handler:
        class: Monolog\Handler\ChromePHPHandler

    monolog:
      class: Monolog\Logger
      arguments: [ %monolog.name% ]
      calls:
        - [ pushHandler, [ @monolog_stream_handler ] ]
        - [ pushHandler, [ @monolog_mail_handler ] ]
        - [ pushProcessor, [ @monolog_web_processor ] ]
        - [ pushProcessor, [ @monolog_peak_memory_processor ] ]
        - [ pushProcessor, [ @monolog_introspection_processor ] ]

    monolog_dev:
      class: Monolog\Logger
      arguments: [ Development ]
      calls:
        - [ pushHandler, [ @monolog_chrome_handler ] ]
        - [ pushHandler, [ @monolog_dev_stream_handler ] ]

    dataobject_generator:
      arguments: [ @state_global ]
      class: %dataobject_generator.class%

    dataobject_handler:
      class: %dataobject_handler.class%

    ss_orm_backend:
      class: %ss_orm_backend.class%
      arguments: [ @event_dispatcher, @dataobject_generator ]

    storage:
      class: %storage.class%
      calls:
        - [ addBackend, [ @ss_orm_backend ] ]
