parameters:

    config.class: Ecommerce\Subsystem\Core\Config

    state.class: Ecommerce\Subsystem\Core\State\State

    backend_session.class: Ecommerce\Subsystem\Core\State\Backends\Session

    backend_memcache.class: Ecommerce\Subsystem\Core\State\Backends\Memcache

    memcache.class: Memcache
    memcache.host: localhost
    memcache.port: 11211

    session.class: Session

    event_dispatcher.class: Symfony\Component\EventDispatcher\EventDispatcher


services:

    memcache:
        class: %memcache.class%
        calls: 
            - [ connect, [ %memcache.host%, %memcache.port% ] ]

    session:
        class: %session.class%
        arguments: [[]]

    backend_memcache:
        class: %backend_memcache.class%
        arguments: [@memcache]

    backend_session:
        class: %backend_session.class%
        arguments: [@session]

    state:
        class: %state.class%
        arguments: [@backend_session, @event_dispatcher]

    config:
        class: %config.class%
        arguments: []

    event_dispatcher:
        class: %event_dispatcher.class%


