parameters:

    config.class: Heystack\Subsystem\Core\Config
    state.class: Heystack\Subsystem\Core\State\State
    backend_session.class: Heystack\Subsystem\Core\State\Backends\Session
    backend_memcache.class: Heystack\Subsystem\Core\State\Backends\Memcache
    event_dispatcher.class: Symfony\Component\EventDispatcher\EventDispatcher
    processor_handler.class: Heystack\Subsystem\Core\Processor\Handler
    session.class: Session

    memcache.class: Memcache
    memcache.host: localhost
    memcache.port: 11211


services:

    memcache:
        class: %memcache.class%
        calls: 
            - [ connect, [ %memcache.host%, %memcache.port% ] ]

    session:
        class: %session.class%
        arguments: [[]]

    backend_memcache:
        class: %backend_memcache.class%
        arguments: [@memcache, @session]

    backend_global_memcache:
        class: %backend_memcache.class%
        arguments: [@memcache]

    backend_session:
        class: %backend_session.class%
        arguments: [@session]

    state:
        class: %state.class%
        arguments: [@backend_session, @event_dispatcher]

    config:
        class: %config.class%
        arguments: []

    event_dispatcher:
        class: %event_dispatcher.class%

    processor_handler:
      class: %processor_handler.class%



